@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	font-family: "Roboto", sans-serif;
	flex-direction: column;
}

a, a:hover, a:focus, a:visited, a:active {
	text-decoration: none;
	color: inherit;
}

#header {
	display: flex;
	flex-direction: row;
	background-color: #505050;
	font-size: 25px;
	align-items: center;
}

#logo {
	font-weight: bold;
	padding: 5px;
	color: white;
}

#countdown {
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding-left: 10px;
	display: flex;
	align-items: center;
}

#countdown svg {
	width: 20px;
	padding: 3px;
}

#placeholder {
	display: flex;
	flex: 1 0 auto;
}

#place {
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: flex;
	flex: 1 0 auto;
}

#picker,
#picker-hide {
	bottom: 0px;
	height: 80px;
	width: 100%;
	background-color: #404040;
	display: flex;
}

#picker {
	animation-name: slideInFromBottom;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
}

#picker-hide {
	animation-name: slideOutFromBottom;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
}

@keyframes slideInFromBottom {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0%);
	}
}

@keyframes slideOutFromBottom {
	from {
		transform: translateY(0%);
	}
	to {
		transform: translateY(100%);
	}
}

.color {
	width: 100%;
}

input.color {
	margin-left: 5px;
	border-style: none;
	border-width: 0px;
	height: 100%;
	background-color: #ffff;
	padding: 0;
}

#auth {
	display: flex;
	/* width: 100px; */
	/* padding: 5px; */
	height: 20px;
	right: 15px;
	cursor: pointer;
	color: white;
	font-size: 20px;
	padding-right: 10px;
}

#authdialog {
	background-color: #808080;
	border-radius: 15px;
	padding: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 5px;
	opacity: 1;
	color: white;
}

#darken #authdialog {
	animation-name: popIn;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
}

#darkenOut #authdialog {
	animation-name: popOut;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
}

#authdialog * {
	margin: 0;
}

#authdialog a {
	color: #00b0f4;
	font-weight: bold;
}

#authdialog-hide {
	background-color: #585858;
	border-style: none;
	border-width: 0px;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	color: white;
	margin-top: 20px;
	padding: 5px;
}

#authdialog-hide:hover {
	background-color: #505050;
}

#darken,
#darkenOut {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1
}

#darken {
	animation: darkenIn 0.5s ease-in-out forwards;
}

#darkenOut {
	animation: darkenOut 0.5s ease-in-out forwards;
}

@keyframes darkenIn {
	from {
		background-color: rgba(0, 0, 0, 0)
	}
	to {
		background-color: rgba(0, 0, 0, 0.7)
	}
}

@keyframes darkenOut {
	from {
		background-color: rgba(0, 0, 0, 0.7)
	}
	to {
		background-color: rgba(0, 0, 0, 0)
	}
}

@keyframes popIn {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@keyframes popOut {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}
